.home-container {
    padding: 16px;
    .am-search {
        background-color: #fff;
        padding: 0;
        height: 28px;
    }
    .am-search-cancel {
        padding-right: 4px;
    }
    .add_car_box {
        height: 50px;
        border-radius: 12px;
        background:rgba(255,255,255,1);
        box-shadow:0px 2px 8px 0px rgba(0,0,0,0.08);
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        .add_car_box_left {
            display: flex;
            align-items: center;
        }
        .add_icon_style {
            width: 24px;
            height: 24px;
            margin-right: 14px;
        }
        .add_text_span {
            // display: inline-block;
            // width: 100px;
            font-size: 14px;
            color: #999;
        }
        .add_bg {
            width: 97px;
            height: 45px;
            float: right;
        }
    }
}